@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix to next js issues on mobile view */
@media screen and (max-width: 320px) {
   #__next {
      display: flex;
      min-width: 100vw;
   }
}

/* FONTS START */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* FONTS END */

#__next {
   color: aliceblue;
   font-family: 'Poppins', sans-serif;
   scroll-behavior: smooth;
   background-color: #181818;
   background-image: url('../public/blank_black_template_logoless.png');
   width: 100%;
   height: 100%;
   background-position: center top, center;
   background-repeat: repeat;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

main {
   flex: 1 1 0%;
}


#homepage-image-bg {
   background-image: url('../public/feat1-console33.jpg');
   width: 100%;
   height: 100%;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
}

.lys {
   background-image: url('../public/blank_black_template_logoless.png');
   width: 100%;
   height: 100%;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
}

.lys::before {
   content: "";
   display: block;
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url("../public/index-2.png");
   opacity: .5;
}

.cta::after {
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-radius: 0.75rem;
   z-index: 5;
   background-color: #1A1B1C;
   opacity: 0.8;
}


/* GSAP ANIMATION */
.hero {
   clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
   opacity: 0;
   transform: translateY(100px);
}

.cta {
   clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.landing-image {
   clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
   opacity: 0;
   /* transform: translateY(100px); */
}

/* .text, .text2, .si, .test, .wtf, .wtf2, .wtf3, .sisi, .stagger {
   clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
   opacity: 0;
   transform: translateY(100px);
} */
.wtf, .wtf2, .wtf3, .sisi, .stagger {
   clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
   opacity: 0;
   transform: translateY(100px);
}